<% if comment.parent_id == nil %>
  <div class = "jumbotron jumbotron-fluid">
    <h3><strong> <%= comment.user.username%> says <br> </h3>
      
        <%= comment.body%><strong><br><br>
        <div class = "caption" style ="text-align:center;">
        <%if current_user == comment.user%>
          <%= link_to "Delete", book_comment_path(@book, comment) , method: :delete, data: { confirm: "Are you sure?" }%> |
        <% end%>
        <%= link_to "Reply", new_book_comment_path(comment.book, :parent_id => comment.id) , class: "btn btn-primary"%>

      </div>
  


<%if comment.replies.any?%>
  <% comment.replies.each do |replies| %>
  <h3><strong><%= replies.user.username %> replied<strong></h3>
    <p><%= replies.body %><br></p>
    <%if replies.user == current_user %>
    <div style ="text-align:center;"><%= link_to "Delete reply", book_comment_path(@book, replies) , method: :delete, data: { confirm: "Are you sure?" }%> </div>
    <% end %>
          
  <%end%>
  </div>
<%end%>

<%end%>
  



  