

<% unless comment.parent_id? %>  
  <div class = "jumbotron jumbotron-fluid" >
      <h3><%= image_tag(comment.user.avatar.url,size: "59x59")%><strong> <%= comment.user.username%> says <br> </h3>      
      <%= comment.body%><strong><br><br>
      <%= time_ago_in_words(comment.created_at) %> ago
        <div class = "caption" style ="text-align:center;">          
          <%if can? :delete, Comment %>
              <%= link_to "Delete", book_comment_path(@book, comment) , method: :delete, data: { confirm: "Are you sure?" }%> |
              <%= link_to "Edit", edit_book_comment_path(@book,comment), class: "btn btn-default" %>
          <% end%>
            
            
      
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#<%= comment.id %>">
      Reply
    </button>

    <!-- Modal -->
  
    <%= form_for @comment, url: book_comments_path(comment.book), remote: true do |f| %>
      <div class="modal fade" id="<%= comment.id %>" tabindex="-1" role="dialog" aria-labelledby="replyModalLabel1" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="replyModalLabel1">Reply</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
              <div class="modal-body">
              <%= f.text_area(:body, class: 'form-control comment_body', placeholder: "Enter reply here" ) %>
              <% if user_signed_in?%>
                <%= f.hidden_field :user_id, :value => current_user.id %>
              <%end%>
              <%= f.hidden_field :parent_id, :value => comment.id %>
              <div class = 'create post'><br/>
                <div style ="text-align:center;">
                  <%= f.submit('Post', class: 'btn btn-large btn-primary')  %>
                </div>
              </div>
              </div>        
            </div>
          </div>
        </div>          
      </div>
    <% end %>
    
    <div id= "container_replies">
      <%if comment.replies.any?%>
        <% comment.replies.each do |reply| %>
        
            <h3><%= image_tag(reply.user.avatar.url,size: "59x59")%> <strong><%= reply.user.username %> replied<strong></h3>
            <p><%= reply.body %><br></p>
            <%= time_ago_in_words(reply.created_at) %> ago
            <% if user_signed_in?%>
              <%if reply.user == current_user || current_user.superadmin == true%>
                <div style ="text-align:center;"><%= link_to "Delete reply", book_comment_path(@book, reply) , method: :delete, data: { confirm: "Are you sure?" }%> 
                </div>            
              <% end %>
            <% end %>            
        <%end%>
      <%end%>
    </div>   
  </div>  
<%end%>

