
<%= form_for @comment, url: book_comments_path(book) do |f| %>
  <%= f.text_area(:body, class: 'form-control', placeholder: "Enter reply here" ) %>
  
<% if user_signed_in?%>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%end%>
  
  <%= f.hidden_field :parent_id, :value => good_id %>
  <div class = 'create post'><br/>
  <div style ="text-align:center;">
    <%= f.submit('Post', class: 'btn btn-large btn-primary')  %>
    </div>
  </div>

<%end%>
