
<div class = "row">
<div class = "col-sm-7 col-md-4">
  <h1 style ="text-align:center;"> Book </h1>
    <div class = "thumbnail thumb-box"> 
      <div class = "caption" style ="text-align:center;">
        <h1><%= @book.title%><br></h1>    
        <div style="padding-left:5px">        
        <%= image_tag(@book.image.url,size: "250x300")%><br><br>    
        </div>        
        <strong><p>By <%= link_to @book.author_name, show_author_path%></p><strong>
        <% @avg_review.to_i.times do  %>
          <span class="glyphicon glyphicon-star"></span>
        <% end %>
        <% @emptystars.to_i.times do  %>
          <span class="glyphicon glyphicon-star-empty"></span>
        <% end %>
        <p><b><%= pluralize(@book.reviews.count, "review") %></p>
        <% if can? :manage, Book %>
          <%= link_to "Delete", book_path(@book), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default"%>
          <%= link_to "Edit", edit_book_path, class: "btn btn-default"%>
        <%end%>
        <% if user_signed_in? %>
          <% unless current_user.reviews.exists?(book_id: @book.id) %>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Add Review
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add review</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <%= form_for([@book, @review = Review.new]) do |form| %>  
                      <%= form.label :rating %>
                      <%= form.select(:rating, options_for_select([[1,1],[2,2],[3,3],[4,4],[5,5]])) %>    
                      <%= form.text_area(:comment, class: 'form-control', placeholder: "Tell us about the book" )%>
                      <div class="actions"><br/>
                        <%= form.submit('Submit review', class: 'btn btn-large btn-primary') %>
                      </div>
                    <% end %>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>
          <%end%>
        <%end%>
      </div>
    </div>
  </div>

<div class = "caption" style ="text-align:center;">
  <h1>Reviews </h1>
</div>
<div class = "col-md-7 col-md-offset-1">
  <% if @book.reviews.exists?%>
    <% @book.reviews.limit(4).each do |review| %>
      <div class = "jumbotron jumbotron-fluid">
        <% review.rating.to_i.times do  %>
          <span class="glyphicon glyphicon-star"></span>
        <% end %>
        <% @empty = 5-review.rating %>
        <% @empty.times do  %>
          <span class="glyphicon glyphicon-star-empty"></span>
        <% end %>
        <br><br>
        <%= review.comment %> <br>
        Submitted by <%= review.user.email%>            
      </div>
    <% end %>
    <div class = "caption" style ="text-align:center;">
      <% if @book.reviews.count > 4%>
        <%= link_to "See more reviews", book_reviews_path(@book)%>
      <% end %>
    </div>
  </div>
  <% else %>
     This book has no review, add one if you like! 
  <%end%>
</div>
<br/>

<div class = "row">
  <div class = "caption" style ="text-align:center;">
    <h1><strong> Comments <strong> </h1>
    <% if current_user %>
      <%= render 'comments/form'%>
    <% else %>
      <h4>You need to <%= link_to "Sign In", new_user_session_path %> to comment </h4> <br>
      <% end %>
  </div>
  <div id="comment_pane" class="mycomment">
  
    <ol class="commentlist">
      <%= render(partial: 'comments/comment', collection: @comments) %>
    </ol>
  </div>
</div>


<!-- Modal -->
<div id="replyModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="replyModalLabel1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 style ="text-align:center;" class="modal-title" id="replyModalLabel1">REPLYING TO </h5><span id="parent_comment"></span>
        
      </div>
        <div class="modal-body">
        <input type="text" id="comment" class= 'form-control'>
        <% if user_signed_in?%>
          <input type="hidden" id="user_id" name="user_id" value="<%= current_user.id %>">
        <%end%>
        <input type="hidden" id="parent_id" name="parent_id">
                 
              
              
            <button class="btn btn-primary btn-large" onclick="saveReply(<%= @book.id %>)">Reply</button>
          </div>
        </div>
        </div>        
      </div>
    </div>
  </div>          
</div>
