
<div class = "row">
<div class = "col-sm-7 col-md-4">
    <h1 style ="text-align:center;"> Book </h1>
    <div class = "thumbnail thumb-box"> 
        <div class = "caption" style ="text-align:center;">
            <h1><%= @book.title%><br></h1>
            
            <%= image_tag(@book.image.url,size: "250x300")%><br><br>            
            <strong><p>By <%= link_to @book.author_name, show_author_path%></p><strong>
            <% @avg_review.to_i.times do  %>
            <span class="glyphicon glyphicon-star"></span>
            <% end %>
            <% @emptystars.to_i.times do  %>
            <span class="glyphicon glyphicon-star-empty"></span>
            <% end %>
            <p><b><%= pluralize(@book.reviews.count, "review") %></p>
            <% if user_signed_in? && current_user.superadmin == true%>
<%= link_to "Delete", book_path(@book), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default"%>
<%= link_to "Edit", edit_book_path, class: "btn btn-default"%>
<%end%>
<% if user_signed_in? %>
<% unless current_user.reviews.exists?(book_id: @book.id) %>
<p><%= link_to "Add review", new_book_review_path(@book) , class: "btn btn-primary btn-lg"%></p>
<%end%>
<%end%>


            </div>
        </div>
    </div>
<div class = "caption" style ="text-align:center;">
<h1>Reviews </h1>
</div>
   <div class = "col-md-7 col-md-offset-1">
   <% if @book.reviews.exists?%>
     <% @book.reviews.limit(2).each do |review| %>
        <div class = "jumbotron">
            <% review.rating.to_i.times do  %>
            <span class="glyphicon glyphicon-star"></span>
            <% end %>
            <% @empty = 5-review.rating %>
            <% @empty.times do  %>
            <span class="glyphicon glyphicon-star-empty"></span>
            <% end %>
            
           <br><br>
            
            <%= review.comment %> <br>
            Submitted by <%= review.user.email%>
            
            </div>
        <% end %>
        <div class = "caption" style ="text-align:center;">
        <% if @book.reviews.count > 2%>
        <%= link_to "See more reviews", book_reviews_path(@book)%>
        <% end %>
        </div>
        </div>
        </div>
    <% else %>
        <p> This book has no review, add one if you like! <p>
    <%end%>


        <br/>
        <div class = "row">
            <div class = "caption" style ="text-align:center;">
            <h1> Comments </h1>
        </div>


<%= render 'comments/form'%>

<div id="comment_pane">
<% @comments.each do |comment| %> 

<%= render 'comments/comment', comment: comment %>


<%end%>
</div>

