<!DOCTYPE html>
<html>
  <head>
    <title>Ibdb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   
  </head>

  <body>
<%= render 'layouts/header'%>
<div class = "container">
<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
    </div>
  </body>
</html>

<%# 
<div class ="container">

      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="http://localhost:3000">IBDB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:3000/books/new">Add book <span class="sr-only">(current)</span></a>
       <li class="nav-item active">
          <a class="nav-link" href="http://localhost:3000/users/sign_in">Sign In <span class="sr-only">(current)</span></a>
          <li class="nav-item active">
          <a class="nav-link" href="http://localhost:3000/users/sign_up">Sign Up <span class="sr-only">(current)</span></a>
      </ul>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div> %>